body{
    margin:0;
    height:100vh;
    position:relative;
    overflow:hidden;
}

.box{
    width:80px;
    height:80px;
    background:red;
    position:absolute;
    animation: move 5s infinite;
}

@keyframes move{
    0%{
        top:50px;
        left:50px;
        background:red;
        border-radius:0;
    }

    25%{
        top:50px;
        left:300px;
        background:yellow;
        border-radius:50%;
    }

    50%{
        top:250px;
        left:300px;
        background:green;
        border-radius:0;
    }

    75%{
        top:250px;
        left:50px;
        background:blue;
        border-radius:50%;
    }

    100%{
        top:50px;
        left:50px;
        background:red;
        border-radius:0;
    }
}